@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed&family=Heebo:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap");
/* Font family */
body {
  font-family: "Poppins", sans-serif;
}
/* Header */
.my-color {
  border: 1px solid #d55e5e7e;
}
.menu img {
  width: 15px;
}
.navbar-toggler:focus {
  outline: 0;
  box-shadow: 0 0 0 0.05rem;
}
/* top banner */
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 45px;
  margin-top: 25px;
  font-weight: 600;
}
.carousel-caption P {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.7);
  z-index: 1;
  opacity: 0.8;
}
.w-100 {
  height: 100vh;
}
.course-title h1 {
  font-weight: 600;
}
/* Responsive CSS  */

@media only screen and (min-width: 821px) and (max-width: 991px) {
  .carousel-caption {
    bottom: 80px;
  }
  .carousel-caption h5 {
    font-size: 20px;
  }
  .carousel-caption P {
    padding: 10px 5px;
    font-size: 15px;
    width: 100%;
  }
  .w-100 {
    height: 80vh;
  }
  .carousel-item {
    height: 80vh;
    min-height: 10px;
  }
  .course-title h1 {
    font-weight: 600;
    font-size: 22px;
  }
  .course-title p {
    font-size: 10px;
  }
  /* register now */
  .register-now, .register-button {
    text-align: center;
  }
}
.text-center-p {
  width: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .carousel-caption {
    bottom: 280px;
  }
  .carousel-caption h5 {
    font-size: 25px;
  }
  .carousel-caption P {
    width: 100%;
    font-size: 15px;
  }
  .w-100 {
    height: 80vh;
  }
  .carousel-item {
    height: 80vh;
    min-height: 10px;
  }
  .course-title h1 {
    font-weight: 600;
    font-size: 22px;
  }
  .course-title p {
    font-size: 10px;
  }
  .register-now, .register-button {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .carousel-caption {
    bottom: 25px;
  }
  .carousel-caption h5 {
    font-size: 20px;
  }
  .carousel-caption P {
    padding: 5px 0px;
    font-size: 12px;
    line-height: 1.6;
    width: 100%;
  }
  .w-100 {
    height: 40vh;
  }
  .carousel-item {
    height: 40vh;
    min-height: 10px;
  }
  /* course */
  .course-img img {
    width: 100%;
    height: 230px;
    background-image: cover;
    padding-bottom: 30px;
  }
  .course-title h1 {
    font-weight: 600;
    font-size: 19px;
    width: 100% !important;
  }
  .course-title p {
    font-size: 10px;
  }
  .register-now, .register-button {
    text-align: center;
  }
}
